version: '3.8'

services:
    db:
        image: postgres:15
        container_name: game_db
        restart: always

        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
          
        ports:
            - "5432:5432"

        volumes:
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
            - postgres_data:/var/lib/postgresql/data

        networks:
            - analytics_net
    generator:
        build: ./generator
        container_name: data_generator
        restart: "no"

        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            DB_HOST: db

        depends_on:
            - db

        networks:
            - analytics_net
volumes:
  postgres_data:

networks:
  analytics_net:
